/* #Primary
================================================== */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #535353;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 0.8rem;
    line-height: 1.25;
    color: #212121;
}

h1,
.h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

h2,
.h2 {
    font-size: 2.3rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.7rem;
    font-weight: 500;
}

h5,
.h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

h6,
.h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
}

::selection {
    color: #fff;
}

::-moz-selection {
    color: #fff;
}

mark {
    color: #fff;
}

.lead {
    font-size: 18px;
    line-height: 27px;
}

.z-bigger {
    z-index: 10;
}

.red-social {
    color: #fff;
    font-size: 18px;
    padding: 45px;
}

.red-social:hover {
    webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.red-social.facebook:hover {
    color: #1877f2;
}

.red-social.instagram:hover {
    color: #8134af;
}

.red-social.youtube:hover {
    color: #c4302b;
}

.red-social.whatsapp:hover {
    color: #00bb2d;
}


/* #Preload
================================================== */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

.loader.dark {
    background-color: #0e0529;
}

.loader.green {
    background-color: #fff;
}

.loader.blue {
    background: linear-gradient(#2CBFC7, #46EEAA);
}

.loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader.blue svg path,
.loader.blue svg rect {
    fill: #fff;
}


/* #Primary style
================================================== */

.section {
    position: relative;
    width: 100%;
    display: block;
}

.relative {
    position: relative;
}

.over-hide {
    overflow: hidden;
}

.full-height {
    height: 100vh;
}

.half-height {
    height: 50vh;
}

.small-25-height {
    height: 25vh;
}

.big-55-height {
    height: 55vh;
}

.big-60-height {
    height: 60vh;
}

.big-65-height {
    height: 65vh;
}

.big-70-height {
    height: 70vh;
}

.big-75-height {
    height: 75vh;
}

.big-80-height {
    height: 80vh;
}

.big-85-height {
    height: 85vh;
}

.max-width-80 {
    max-width: 80%;
}

.background-image-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-image-cover-bottom {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-white {
    background-color: #ffffff !important;
}

.background-grey {
    background-color: #f0f1f6;
}

.background-grey-1 {
    background-color: #f9f9f9;
}

.background-dark {
    background-color: #212121;
}

.background-dark-1 {
    background-color: #353535;
}

.background-dark-2 {
    background-color: #1b1b1b;
}

.background-black {
    background-color: #000000;
}

.background-dark-blue {
    background-color: #323c46 !important;
}

.background-dark-blue-1 {
    background-color: #283038;
}

.background-dark-blue-2 {
    background-color: #0e0529;
}

.background-dark-blue-3 {
    background-color: #1e0b56;
}

.background-dark-blue-4 {
    background-color: #050112;
}

.background-light-blue {
    background-color: rgba(245, 231, 252, 0.9);
}

.background-gradient-dark {
    background: linear-gradient(#0e0529, #1e0b56);
}

.background-gradient-dark-re {
    background: linear-gradient(#1e0b56, #0e0529);
}

.background-gradient-light {
    background: linear-gradient(#004cff, #4d82ff);
}

.background-gradient-light-re {
    background: linear-gradient(#4d82ff, #004cff);
}

.background-light-blue-1 {
    background-color: #004cff;
}

.background-light-blue-2 {
    background-color: #4d82ff;
}

.background-gradient-green {
    background: linear-gradient(#2CBFC7, #46EEAA);
}

.background-gradient-green-re {
    background: linear-gradient(#46EEAA, #2CBFC7);
}

.background-light-green-1 {
    background-color: #2CBFC7;
}

.background-light-green-2 {
    background-color: #46EEAA;
}

.img-wrap {
    position: relative;
    width: 100%;
}

.img-wrap.header-img {
    min-width: 1150px;
}

.img-wrap img {
    width: 100%;
    display: block;
}

.z-bigger {
    z-index: 10;
}

.padding-top-bottom {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-top {
    padding-top: 80px;
}

.padding-bottom {
    padding-bottom: 80px;
}

.padding-top-bottom-big {
    padding-top: 110px;
    padding-bottom: 110px;
}

.padding-top-big {
    padding-top: 110px;
}

.padding-bottom-big {
    padding-bottom: 110px;
}

.padding-top-bottom-small {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-top-small {
    padding-top: 50px;
}

.padding-bottom-small {
    padding-bottom: 50px;
}

.padding-top-big-hero {
    padding-top: 180px;
}

.padding-bottom-big-hero {
    padding-bottom: 180px;
}

.color-light {
    color: #fff;
}

.color-light-1 {
    color: #f7f7f7;
}

.text-grey {
    color: #f9f9f9;
}


/* #Demo
================================================== */

.logo-demo {
    position: relative;
    width: 100%;
}

.logo-demo img {
    height: 45px;
    display: block;
    margin: 0 auto;
}

.img-wrap.rounded img {
    border-radius: 20px;
    box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.17);
}

.section.z-bigger-demo {
    z-index: 10000 !important;
}

.demo a {
    color: #fff;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    display: block;
    font-weight: 500;
}

.demo a:hover {
    text-decoration: none;
}


/* #Navigation
================================================== */

#menu-wrap {
    position: fixed;
    width: 100%;
    z-index: 5000;
    margin: 0 auto;
    top: 0;
    left: 0;
}

.menu-back {
    background-color: rgba(250, 250, 250, 0);
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-back.dark {
    background-color: rgba(14, 5, 36, 0);
}

.cbp-af-header {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink {
    background-color: rgba(250, 250, 250, .95);
    padding-top: 5px;
    padding-bottom: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-back.cbp-af-header-shrink.dark {
    background-color: rgba(14, 5, 36, 9);
}

.cbp-af-header.cbp-af-header-shrink .navbar {
    padding: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bg-light {
    background-color: transparent !important;
}

.navbar {
    padding: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    opacity: 1;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.nav-link,
.nav-link:focus {
    color: #424242 !important;
    border-bottom: 2px solid transparent;
    padding: 20px 0 !important;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.menu-back.dark .nav-link,
.menu-back.dark .nav-link:focus {
    color: #fff !important;
}

.menu-back.dark .nav-link.no-line:hover,
.nav-link.no-line:hover {
    border-color: transparent !important;
}

.nav-item {
    margin: 0 10px;
}

.nav-item:last-child {
    margin-left: 5px;
    margin-right: 0;
}

.nav-item .btn {
    margin: 0;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.5125rem;
}

.nav-item {
    position: relative;
}

.nav-item ul {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    min-width: 250px;
    padding: 20px 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid transparent;
    margin: 0;
    list-style: none;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.nav-item:hover ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.nav-item ul li {
    margin: 0;
    padding: 0;
}

.nav-item ul li a {
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #888;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.menu-back.dark .nav-item ul li a {
    color: #fff;
}

.nav-item ul li a:hover {
    text-decoration: none;
}

.navbar-toggler {
    padding: 0.25rem 0;
    border: none;
    border-radius: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
    margin: 0;
    outline: none;
}

.navbar-toggler-icon {
    background-image: none !important;
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-top: 8px;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #000;
    margin-bottom: 7px;
    -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-back.dark .menu-icon__line {
    background-color: #fff;
}

.menu-icon__line-left {
    width: 22.5px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.menu-icon__line-right {
    width: 22.5px;
    float: left;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.navbar-toggler-icon:hover .menu-icon__line-left,
.navbar-toggler-icon:hover .menu-icon__line-right {
    width: 30px;
}

.navbar-toggler[aria-expanded="true"] .menu-icon__line {
    background-color: #000;
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
    transform: translate(0px, 0px) rotate(-45deg);
}

.menu-back.dark .navbar-toggler[aria-expanded="true"] .menu-icon__line {
    background-color: #fff;
}

.navbar-toggler[aria-expanded="true"] .menu-icon__line-left {
    width: 15px;
    -webkit-transform: translate(2px, 4px) rotate(45deg);
    transform: translate(2px, 4px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .menu-icon__line-right {
    width: 15px;
    float: right;
    -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
    transform: translate(-3px, -3.5px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .menu-icon:hover .menu-icon__line-left,
.navbar-toggler[aria-expanded="true"] .menu-icon:hover .menu-icon__line-right {
    width: 15px;
}


/* #Go to top button
================================================== */

.scroll-to-top {
    position: fixed;
    cursor: pointer;
    bottom: 90px;
    right: 53px;
    display: none;
    z-index: 95;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #888;
    letter-spacing: 1px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.scroll-to-top.light {
    color: #fff;
}

.scroll-to-top:before {
    content: '';
    position: absolute;
    width: 100%;
    top: -30px;
    opacity: 0;
    left: 0;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-image: url('../img/arrow-up.svg');
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.scroll-to-top.light:before {
    background-image: url('../img/arrow-up-light.svg');
}

.scroll-to-top:hover:before {
    top: -40px;
    opacity: 1;
}


/* #Parallax section
================================================== */

.background-parallax {
    position: absolute;
    display: block;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* #Hero
================================================== */

.background-path {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.scene {
    background: #fff;
    width: 100%;
    height: 100%;
}

.scene.dark {
    background: #1e0b56;
}

.scene path:first-child {
    opacity: 0.06;
}

.scene path:nth-child(2) {
    opacity: 0.035;
}

.scene path:nth-child(3) {
    opacity: 0.04;
}

.scene path:nth-child(4) {
    opacity: 0.045;
}

.scene path:nth-child(5) {
    opacity: 0.04;
}

.scene path:nth-child(6) {
    opacity: 0.035;
}

.scene path:nth-child(7) {
    opacity: 0.04;
}

.hero-center-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero-center-wrap.relative-hero {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hero-center-wrap h1 {
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
}

.hero-center-wrap h2 {
    font-size: 55px;
    line-height: 1;
    font-weight: 600;
}

.hero-center-wrap p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 2px;
}

.hero-center-wrap.relative-on-lg p {
    color: #212121;
    letter-spacing: 1px;
}

.hero-center-wrap p span.back-color {
    padding: 4px 12px;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
    color: #fff;
    border-radius: 20px;
    letter-spacing: 0;
}

.hero-center-wrap p span.font-big-color {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    vertical-align: middle;
}

.btn {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    margin-left: 8px;
    margin-right: 8px;
    padding: 14px 28px;
    border-radius: 25px;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn.btn-gradient {
    position: relative;
    background: transparent !important;
}

.btn.btn-gradient:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.btn.btn-gradient:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    opacity: 0;
}

.btn.btn-gradient:hover:after {
    opacity: 1;
}

.btn span {
    position: relative;
    display: block;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.btn:hover span {
    -webkit-transform: translateZ(5px);
    transform: translateZ(5px);
}

.btn:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, .2);
}

.btn:focus,
.btn:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary:focus,
.btn-primary:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {}

.hide-over {
    overflow: hidden;
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1;
}

.ocean.dark {
    background: #0e0529;
}

.ocean.dark .wave {
    background: url('../img/wave-dark.svg') repeat-x;
}

.ocean.blue {
    background: #004cff;
}

.ocean.blue .wave {
    background: url('../img/wave-blue.svg') repeat-x;
}

.wave {
    background: url('../img/wave.svg') repeat-x;
    position: absolute;
    top: -100px;
    width: 6400px;
    height: 100px;
    animation: wave 35s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -56px;
    animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -45px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#particles-js.min-height {
    height: calc(100% - 100px);
}

#particles-js.min-height-snd {
    height: calc(100% - 150px);
}

#canvas-x-o {
    width: 100%;
    height: 100%;
    opacity: 0.25;
}


/* #countdown
================================================== */

.countdown {
    position: relative;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.countdown.gradient-ver {
    padding: 0;
    border-radius: 0;
}

.translateY-70 {
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    transform: translateY(-70px);
}

.translateY-100 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
}

.big-shadow-down {
    box-shadow: 0 8px 50px -6px rgba(0, 0, 0, 0.35);
}

.countdown ul {
    margin: 0;
    padding: 0;
}

.countdown li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    min-width: calc(24% - 10px);
    margin: 0 auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.countdown.gradient-ver li {
    min-width: auto;
    max-width: calc(24% - 10px);
    width: 140px;
    box-shadow: none;
    color: #fff;
}

.countdown li span {
    display: block;
    font-size: 55px;
    line-height: 1;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 5px;
}

.countdown.gradient-ver li span {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url('../img/let.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-position: center center;
    background-size: cover;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.06);
}

.countdown p {
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    line-height: 1.45;
    letter-spacing: 1px;
}

.countdown p span {
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 20px;
    letter-spacing: 0;
}

.payment-methods {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.payment-methods li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.payment-methods li img {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.payment-methods li p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
}

.table-sale {
    position: relative;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.table-sale p {
    color: #999;
    margin-bottom: 0;
}

.table-sale.background-color p {
    color: #fff;
}

.table-sale.future-price p {
    color: #111;
}

.table-sale p span {
    background-color: #999;
    color: #fff;
    border-radius: 15px;
    padding: 6px 15px;
    font-size: 15px;
    font-weight: 500;
}

.table-sale .table-line {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #999;
    opacity: 0.4;
}

.table-sale.background-color .table-line {
    border-color: #fff;
}

.table-sale h4 {
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}

.table-sale.background-color h4 {
    color: #fff;
}

.table-sale .btn.disabled {
    color: #fff;
    background-color: #999;
}

.table-sale.future-price .btn.disabled {
    color: #212121;
    background-color: #f0f1f6;
}

.btn-primary.table-ver,
.btn-primary.table-ver:hover,
.btn-primary.table-ver:active,
.btn-primary.table-ver:focus {
    background-color: #fff !important;
}


/* #Concept
================================================== */

.title-wrap {
    position: relative;
    margin-bottom: 60px;
}

.title-wrap h3 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #323232;
    z-index: 2;
}

.title-wrap p {
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    color: #444;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding-top: 10px;
}

.title-wrap .back-title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    opacity: 0.1;
}

.title-wrap .back-title.strong {
    opacity: 0.3;
}

.line-sep {
    position: relative;
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0.23;
}

.concept-box {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.concept-box h5 {
    text-align: center;
    font-weight: 600;
}

.concept-box p {
    text-align: center;
}

.concept-box img {
    text-align: center;
    height: 100px;
}


/* #Roadmap
================================================== */

#owl-roadmap {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#owl-roadmap:before {
    position: absolute;
    width: 100%;
    content: '';
    top: 17px;
    left: 0;
    height: 2px;
}

#owl-roadmap .item {
    position: relative;
    padding-bottom: 45px;
}

.roadmap-box {
    position: relative;
    padding: 30px;
    margin: 0 15px;
    margin-top: 97px;
    border-radius: 5px;
}

.roadmap-box h6 {
    text-align: center;
}

.roadmap-box p {
    text-align: center;
    margin-bottom: 0;
}

.roadmap-box p span {
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 16px;
    border-radius: 5px;
}

.roadmap-box p.achieved span {
    background-color: #323c46 !important;
}

.roadmap-box p.plan span {
    background-color: #f0f1f6 !important;
}

.roadmap-box:before {
    position: absolute;
    background-color: #fff;
    width: 4px;
    height: 80px;
    top: -80px;
    left: 50%;
    margin-left: -2px;
    content: '';
    z-index: 1;
}

.roadmap-box.next-road:before {
    background: linear-gradient(#999, #fff);
}

.item.dark .roadmap-box.next-road:before {
    background: linear-gradient(#999, #0e0529) !important;
}

.roadmap-box:after {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    width: 30px;
    height: 30px;
    top: -94px;
    left: 50%;
    margin-left: -15px;
    content: '';
    z-index: 55;
    background-image: url('../img/check.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.item.blue .roadmap-box:after {
    background-image: url('../img/check-green.svg');
}

.item.dark .roadmap-box:after {
    background-color: #0e0529;
}

.item.blue .roadmap-box:after {
    background-color: #4d82ff;
}

.item.blue-gradient .roadmap-box:after {
    background-color: #2CBFC7;
}

.roadmap-box.next-road:after {
    border-color: #999;
    width: 20px;
    height: 20px;
    top: -89px;
    margin-left: -10px;
    background-image: none;
}

.roadmap-box.current-road:after {
    width: 36px;
    height: 36px;
    top: -97px;
    margin-left: -18px;
    background-image: url('../img/cur-check.svg');
    background-size: 22px 22px;
}

.item.blue .roadmap-box.current-road:after {
    background-image: url('../img/cur-check-green.svg');
}

.item.blue .roadmap-box.next-road:after {
    background-image: none;
}

.prev-roadmap,
.next-roadmap {
    position: absolute;
    top: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 0.2rem;
    text-align: center;
    z-index: 15;
    cursor: pointer;
    background-color: #212121;
    color: #fff;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.prev-roadmap:hover,
.next-roadmap:hover {
    box-shadow: 0 8px 5px -6px rgba(0, 0, 0, 0.3);
}

.prev-roadmap.dark:hover,
.next-roadmap.dark:hover {
    background-color: #0e0529 !important;
}

.prev-roadmap {
    left: 15px;
}

.next-roadmap {
    right: 15px;
}

.next-roadmap i,
.prev-roadmap i {
    color: #fff;
}

.video-section {
    position: relative;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
}

.video-wrapper,
figure.vimeo,
figure.youtube {
    margin: 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.youtube a img,
figure.vimeo a img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    max-width: none;
    border-radius: 15px;
}

figure.vimeo a:after,
figure.youtube a:after {
    content: "";
    width: 50px;
    height: 50px;
    background: #fff;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

figure.vimeo:hover a:after,
figure.youtube:hover a:after {
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.2);
}

figure.vimeo a:before,
figure.youtube a:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -7px;
    display: block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

figure.vimeo:hover a:before,
figure.youtube:hover a:before {
    border-left: 10px solid #fff;
}

figure.vimeo a:hover img,
figure.youtube a:hover img {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

figure.vimeo a img,
figure.youtube a img {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    a -webkit-transform: scale(1);
    transform: scale(1);
}


/* #Chart
================================================== */

.line-chart {
    -webkit-animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    opacity: 0;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.aspect-ratio {
    height: 0;
    padding-bottom: 50%;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/* #App - Wallet
================================================== */

.app-list {
    list-style: none;
}

.app-list li {
    position: relative;
    margin-top: 10px;
    font-size: 13px;
    line-height: 23px;
    padding-left: 25px;
    text-transform: uppercase;
}

.app-list li:before {
    position: absolute;
    top: 12px;
    height: 1px;
    width: 20px;
    left: -15px;
    content: '';
    z-index: 1;
}

.app-btn {
    font-size: 18px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.app-btn:hover {
    opacity: 0.5;
}


/* #Logos
================================================== */

.logo-wrap {
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.logo-wrap li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.logo-wrap li img {
    display: block;
    height: 28px;
}


/* #Team
================================================== */

.team-wrap {
    position: relative;
    display: block;
    width: 100%;
}

.team-img-wrap {
    position: relative;
    display: inline-block;
    width: calc(100% - 35px);
    margin-left: 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.team-img-wrap img {
    display: block;
    width: 100%;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-img-wrap.rounded img {
    border-radius: 20px;
}

.team-img-wrap .team-img-mask {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.15;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-img-wrap.dark .team-img-mask {
    opacity: 0.2;
}

.team-img-wrap:hover .team-img-mask {
    opacity: 0.1;
}

.team-wrap h6 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
    font-size: 28px;
    opacity: 0.3;
    text-transform: none;
    margin: 0;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.team-wrap.dark h6 {
    color: #fff;
    opacity: 0.7;
}

.team-wrap p {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #212121;
}

.team-wrap.dark p {
    color: #fff;
}

.team-wrap .app-btn {
    font-size: 15px;
}

.modal {
    z-index: 10050;
}

.modal-backdrop {
    z-index: 10040;
    background-color: #283038;
}

.modal-backdrop.show {
    opacity: 0.7;
}

.modal-content {
    background-color: #283038;
    border: none;
    overflow: hidden;
}

.modal-content.dark {
    background-color: #0e0529;
}

.modal-header {
    padding: 1rem;
    border-bottom: none;
    z-index: 2;
}

.modal-header button.close span {
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.modal-header button.close {
    border: none;
    outline: none;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    opacity: 1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.modal-header button.close span:focus,
.modal-header button.close span:active {
    border: none;
    outline: none;
}

.modal-header button.close span:before {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    right: -15px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-header button.close span:after {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #fff;
    bottom: 50%;
    right: -15px;
    position: absolute;
    z-index: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.modal-header button.close:hover span:before,
.modal-header button.close:hover span:after {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.modal-header button.close:hover span:before {
    margin-top: -1px;
}

.modal-body {
    z-index: 2;
}

.modal-body h3 {
    opacity: 0.3;
    font-weight: 700;
    font-size: 4vw;
}

.modal-body p {
    color: #fff;
}

.modal-body img {
    margin-bottom: 15px;
}

.modal-body .app-list {
    color: #fff;
}

.modal-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top center;
    z-index: 1;
    opacity: 0.1;
}

.progress {
    height: 2px;
    background-color: #323c46;
    border-radius: 0;
}


/* #FAQ
================================================== */

.card {
    background-color: transparent;
    background-clip: none;
    border: none;
    border-radius: 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 0;
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

.accordion-style .card-header a {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    display: block;
    padding: 12px 25px;
    cursor: pointer;
    color: #212121;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.accordion-style .card-header a:hover {
    color: #fff;
}

.accordion-style .card-header a:before {
    content: '';
    width: 17px;
    height: 1px;
    top: 50%;
    right: 15px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.accordion-style .card-header a:after {
    content: '';
    width: 1px;
    height: 17px;
    bottom: 50%;
    margin-bottom: -9px;
    right: 23px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.accordion-style .card-header a:hover:before,
.accordion-style .card-header a:hover:after {
    background-color: #fff !important;
}

.accordion-style .card-header a[aria-expanded="true"]:after {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* #Contact
================================================== */

.contact-det {
    position: relative;
    display: block;
    margin: 0 auto;
}

.contact-det img {
    display: block;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-control {
    outline: 0;
    border: 0;
    padding: 12px 20px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-control:active,
.form-control:focus {
    outline: 0;
    border: 0;
    color: #fff;
    box-shadow: none !important;
}

.help-block.with-errors {
    position: absolute;
    top: 45px;
    width: 100%;
    left: 0;
    z-index: 2;
    font-size: 13px;
    color: #db695d;
    font-weight: 400;
    letter-spacing: 1px;
}

.help-block.with-errors.textarea-error {
    top: 107px;
}

.form-control:-ms-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999999;
}

.form-on-blue .form-control:-ms-input-placeholder {
    color: #f1f1f1;
}

.form-control:active:-ms-input-placeholder,
.form-control:focus:-ms-input-placeholder {
    color: #fff;
}

.form-control::-moz-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999999;
}

.form-on-blue .form-control::-moz-placeholder {
    color: #f1f1f1;
}

.form-control:active::-moz-placeholder,
.form-control:focus::-moz-placeholder {
    color: #fff;
}

.form-control:-moz-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999999;
}

.form-on-blue .form-control:-moz-placeholder {
    color: #f1f1f1;
}

.form-control:active:-moz-placeholder,
.form-control:focus:-moz-placeholder {
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999999;
}

.form-on-blue .form-control::-webkit-input-placeholder {
    color: #f1f1f1;
}

.form-control:active::-webkit-input-placeholder,
.form-control:focus::-webkit-input-placeholder {
    color: #fff;
}

input.btn.btn-primary {
    cursor: pointer;
}


/* #Footer
================================================== */

.suscribe {
    position: relative;
    padding-right: 45px;
}

.suscribe .form-control {
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
}

.suscribe .btn {
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 2;
    border-radius: 3px;
    padding: 10px 20px;
}

.suscribe .btn.btn-gradient {
    border-radius: 25px;
}

.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-list li {
    padding: 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 31%;
}

.footer-list li a {
    display: inline-block;
    color: #a3b0bd;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.footer-list li a:hover {
    text-decoration: none;
}

.footer p {
    font-size: 13px;
    letter-spacing: 1px;
    color: #a3b0bd;
    margin-bottom: 0;
}

.footer p a {
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.footer p a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.footer .app-btn {
    font-size: 14px;
}


/* #Media
================================================== */

@media (max-width: 1500px) {}

@media (max-width: 1300px) {}

@media (max-width: 1199px) {
    .hero-center-wrap h1 {
        font-size: 55px;
    }
    .hero-center-wrap p {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: 1px;
    }
    .hero-center-wrap p span.back-color {
        padding: 3px 8px;
        font-size: 13px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 10px;
    }
    .hero-center-wrap p span.font-big-color {
        font-size: 16px;
    }
    .img-wrap.header-img {
        min-width: 750px;
    }
    .hero-center-wrap h2 {
        font-size: 45px;
    }
    .countdown.gradient-ver li span {
        font-size: 70px;
    }
}

@media (max-width: 991px) {
    .hero-center-wrap h1 {
        font-size: 40px;
    }
    .hero-center-wrap p {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.25;
        letter-spacing: 0;
    }
    .hero-center-wrap p span.back-color {
        padding: 2px 6px;
        font-size: 13px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 10px;
    }
    .hero-center-wrap p span.font-big-color {
        font-size: 15px;
        font-weight: 600;
        vertical-align: middle;
    }
    #menu-wrap {
        position: relative;
        top: auto;
        left: auto;
    }
    .menu-back {
        background-color: rgba(250, 250, 250, 1);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .menu-back.dark {
        background-color: rgba(14, 5, 36, 1);
    }
    .cbp-af-header.cbp-af-header-shrink {
        background-color: rgba(250, 250, 250, 1);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .menu-back.cbp-af-header-shrink.dark {
        background-color: rgba(14, 5, 36, 1);
    }
    .navbar-nav {
        padding: 35px 0 !important;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav-item {
        margin: 0;
        margin-left: 20px;
    }
    .nav-item:last-child {
        margin: 0;
        margin-left: 20px;
    }
    .nav-link {
        padding: 4px 0 !important;
    }
    .nav-item ul {
        position: relative;
        left: auto;
        bottom: auto;
        display: block;
        padding: 25px;
        padding-top: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top: 2px solid transparent;
        opacity: 1;
        background-color: transparent !important;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .nav-item:hover ul {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .translateY-70 {
        margin: 70px 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .title-wrap .back-title {
        font-size: 70px;
    }
    .modal-body h3 {
        font-size: 6vw;
    }
    .img-wrap.header-img {
        min-width: auto;
        width: 80%;
        margin: 0 auto;
    }
    .full-height.height-auto-lg {
        height: auto;
        padding-top: 80px;
        padding-bottom: 180px;
    }
    .hero-center-wrap.relative-on-lg {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .hero-center-wrap h2 {
        font-size: 40px;
    }
    .padding-top-big-hero {
        padding-top: 110px;
    }
    .padding-bottom-big-hero {
        padding-bottom: 110px;
    }
}

@media (max-width: 767px) {
    .hero-center-wrap h1 {
        font-size: 30px;
    }
    .countdown li span {
        font-size: 40px;
    }
    .title-wrap h3 {
        font-size: 24px;
    }
    .title-wrap .back-title {
        font-size: 50px;
    }
    .modal-body h3 {
        font-size: 7vw;
    }
    .footer-list li {
        width: 48%;
    }
    .hero-center-wrap h2 {
        font-size: 35px;
    }
    .countdown.gradient-ver li span {
        font-size: 55px;
        font-weight: 700;
        text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.06);
    }
}

@media (max-width: 575px) {
    .hero-center-wrap h1 {
        font-size: 21px;
    }
    .hero-center-wrap .btn {
        font-size: 12px;
        padding: 8px 10px;
        margin: 0 2px;
        letter-spacing: 0;
        margin-bottom: 5px;
    }
    .countdown {
        padding: 20px;
        border-radius: 5px;
    }
    .countdown li {
        min-width: calc(48% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-transform: none;
        font-size: 12px;
        letter-spacing: 0;
    }
    .countdown li span {
        font-size: 30px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .countdown p {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.55;
        letter-spacing: 0;
    }
    .countdown p span {
        padding: 3px 6px;
        font-size: 13px;
        border-radius: 10px;
    }
    .table-sale {
        padding: 20px;
    }
    .title-wrap .back-title {
        font-size: 40px;
    }
    .hero-center-wrap h2 {
        font-size: 25px;
    }
    .countdown.gradient-ver {
        max-width: 200px;
    }
    .countdown.gradient-ver li {
        max-width: calc(50% - 20px);
        width: calc(50% - 20px);
    }
    .countdown.gradient-ver li span {
        font-size: 45px;
        font-weight: 700;
        text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.06);
    }
}


/*whatsapp*/

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}


/*precios*/

.descuento {
    text-decoration: line-through;
}